<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/sheet.css">
    <meta charset="UTF-8">
    <title>edit_customer</title>
</head>
<body>
  <h2 id="head"><span id="Head">Edit customer details</span><h2>
  <div id="edit_form">
   <form action="/update_customer" method="post">
       {% csrf_token %}
       <input type="hidden" name="customer_id" value="{{customer_details.id}}">
       <input type="hidden" name="doc" value="{{customer_details.doc}}">
       <table>
           <tr>
               <td id="color">Name:</td>
               <td>
                   <input type="text" name="customer_name" value="{{customer_details.name}}">
               </td>
           </tr>
           <tr>
               <td id="color">Shop_name:</td>
               <td>
                   <input type="text" name="shop_name" value="{{customer_details.shop_name}}">
               </td>
           </tr>
           <tr>
               <td id="color">Mobile:</td>
               <td>
                   <input type="number" name="cus_mobile" value="{{customer_details.cus_mobile}}">
               </td>
           </tr>
           <tr>
               <td id="color">City:</td>
               <td>
                   <input type="text" name="city" value="{{customer_details.city}}">
               </td>
           </tr>
           <tr>
               <td id="color">Address:</td>
               <td>
                   <input type="text" name="address" value="{{customer_details.address}}">
               </td>
           </tr>
            <tr>
               <td></td>
               <td>
                   <input type="submit" value="Edit">
               </td>
           </tr>
       </table>
   </form>
 </div>
   <div id="links">
       <a id="link" href="/add_new_customer">Add_new_customer</a><br>
       <a id="link" href="/view_all_customers">View_all_customers</a><br>
       <a id="link" href="/search_customer">Search_customer</a><br>
       <a id="link" href="/Entry_to_send_goods">Entry_to_send_goods</a><br>
       <a id="link" href="/Entry_for_deposit_money">Entry_for_deposit_money</a><br>
       <a id="link" href="/home">click_here_for_home_page</a><br>
   </div>
   <div id="logout">
       <a href="/userlogout">logout</a>
   </div>
</body>
</html>
